@import url('https://rsms.me/inter/inter.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px 0 200px;
  flex-wrap: wrap;
}
nav .logo{
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: 600;
  font-family: 'Tangerine';
  margin-left: 35px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 10px;
}
nav ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  opacity: 0.7;
  transition: all 0.3s ease;
  margin-right: 20px;
}
nav ul li a:hover{
  color: rgb(0, 0, 0);
  background: rgb(255, 252, 252);
  opacity: 1;
}
nav .menu-btn i{
  color: rgb(91, 91, 91);
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgb(111, 109, 109);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 60px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
margin-left: 15%;
margin-right: 15%;
padding-top: 2%;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.my-face {
  max-width: 55%;
  height: auto;
  border-radius: 20px;
}

.intro {
  font-size: 40px;
  font-weight: 600;
  padding-top: 20px;
}
.intro-two {
  font-size: 30px;
  font-weight: 400;
  padding-top: 10px;
  color: rgb(92, 92, 92);
}

.recent-proj {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 0.8em;

}

.smallest-properties {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5em;
}

.rec-proj-container {
  margin-top: 20px;
  padding: 5px;
  border:  4  px black solid;
  width: 100%;
  height: auto;
}

.proj-left {
  padding: 10px;
  width: 100%;
}

.proj-right {
  padding: 10px;
  width: 100%;
}

.room-img {
  width: 100%;
  border-radius: 2px; 
  height: auto;
}

.rec-proj-desc {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-family: 'Inter';
  font-weight: 300;
}

.book-img {
  width: 100%;
  border-radius: 2px;
  height: auto;
}

.blog-btn {
  background-color: black;
  color: white;
  padding: 10px;
  border: solid;
  border-radius: 5px;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  opacity: 0.6;
  transition: 0.3s ;
}

.blog-btn:hover {
  opacity: 1;
}

.footer{
  background-color: rgba(0, 0, 0, 0.835);
  height: 40vh;
  margin-top: 40px;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 2%;
  padding-bottom: 5%;
  overflow: hidden;
  display: flex;
}

.insta-png {
  max-width: 35px;
  height: 35px;
  margin-top: 70px;
  margin-left:10px;
  float: left;

}

.twitter-png {
  max-width: 59px;
  height: 59px;
  margin-top: 58px;
  margin-left: 10px;
  float: middle;
}

.twitch-png {
  max-width: 35px;
  height: 35px;
  margin-top: 70px;
  margin-left: 10px;
  float: right;
}

.footer-text {
  color: rgb(90, 90, 90);
  font-weight: 500;
  font-size: 10px;
  margin-top: 160px;
  margin-left: -150px;
}

.leftcolumn { 
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.blender-img-blog {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.blog-heading {
  font-size: 45px;
}

.blog-desc {
  font-size: 26px;
  font-weight: 500;
  padding: 5px;
}

.blog-date {
  font-size: 28px;
  font-weight: 300;
}

.my-face-blog {
  width: 60%;
  height: auto;
  border-radius: 20px;
}

.face-desc {
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }

  .blog-heading {
    font-size: 40px;
  }

  .blog-desc {
    font-size: 24px;
  }
}



@media (min-width: 900px) {

.rec-proj-container {
  margin-top: 20px;
  padding: 5px;
  border:  6px rgb(0, 0, 0) solid;
  width: 100%;
  height: auto;
  overflow:hidden;
}

.proj-left {
  padding: 10px;
  width: 50%;
  float: left;
}

.proj-right {
  padding: 10px;
  width: 50%;
  float: right;
}

.room-img {
  width: 100%;
  border-radius: 2px; 
  height: auto;
}

.rec-proj-desc {
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-family: 'Inter';
  font-weight: 300;
}

.book-img {
  width: 100%;
  border-radius: 2px;
  height: auto;
}
}

a { 
  text-decoration: none;
  color: black ;
  transition: color 0.3s;
  -webkit-transition: 0.3s;
} 

.blog-desc-deco:hover{
  opacity: 1;
  color: darkblue;
}
